# Arquivos de ambiente
.env
.env.local
.env.*.local
.env.*

# Dependências
**/node_modules/

# Build
dist/
frontend/dev-dist/
novo-frontend/dev-dist/

# Logs
**/*.log

# Arquivos do sistema
.DS_Store
Thumbs.db

# Antigo backend
/backend/
